.menubar {
  background-color: #fd4a36;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", "sans-serif";
  font-weight: 500;
  padding: 20px 3%;
  position: relative;
  /* top: 0px; */
  /* padding-bottom: 30px; */
  z-index: 11;
}

.menubar .logo {
  font-size: 24px;
  font-weight: 700;
}

.menubar .menu-items {
  position: relative;
  display: flex;
  gap: 20px;
}

.menubar a {
  color: #fff;
  text-decoration: none;
}

.menubar a:hover {
  color: black;
}

.menubar a.discover:hover {
  color: #fff;
}

.menubar .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* top: 55px; */
  left: 230px;
  z-index: 10;
  background-color: #fd4a36;
}

.menubar .subMenuHide {
  display: none;
}

.menubar .subMenuShow {
  display: flex;
}

.menubar .sub-menu a {
  padding: 15px;
  padding-right: 40px;
}

.menubar .sub-menu a:hover {
  background-color: #fff;
}

.menubar .sub-menu .innerMenu:hover {
  background-color: #fd4a36;
}

.menubar .hamburger {
  display: none;
}

@media screen and (max-width: 1150px) {
  .menubar .menu-items {
    /* display: none; */
    flex-direction: column;
    gap: 0;
    position: absolute;
    width: 60%;
    justify-content: center;
    /* align-items: center; */
    z-index: 11;
    background-color: #fd4a36;
    top: 76px;
    right: -61%;
    /* height: 100%; */
    transition: all 0.7s ease-in;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: -4px 8px 10px 0px #c9c2c2;
  }

  .menubar .slideMenu {
    right: 0px;
  }

  .menubar .sub-menu {
    left: 180px;
  }

  .menubar a {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #e0311e;
  }

  .menubar .hamburger {
    display: block;
  }
}
