.menubar {
  background-color: #fd4a36;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", "sans-serif";
  font-weight: 500;
  padding: 20px 3%;
  position: relative;
  /* top: 0px; */
  /* padding-bottom: 30px; */
}

.menubar .logo {
  font-size: 24px;
  font-weight: 700;
}

.menubar .menu-items {
  display: flex;
  gap: 20px;
}

.menubar a {
  color: #fff;
  text-decoration: none;
}

.menubar a:hover {
  color: black;
}

.menubar a.discover:hover {
  color: #fff;
}

.menubar .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* top: 55px; */
  /* left: 650px; */
  z-index: 10000;
  background-color: #fd4a36;
}

.menubar .subMenuHide {
  display: none;
}

.menubar .subMenuShow {
  display: flex;
}

.menubar .sub-menu a {
  padding: 15px;
  padding-right: 40px;
}

.menubar .sub-menu a:hover {
  background-color: #fff;
}

.menubar .sub-menu .innerMenu:hover {
  background-color: #fd4a36;
}

.menubar .hamburger {
  display: none;
}

@media screen and (max-width: 1150px) {
  .menubar .menu-items {
    display: none;
  }

  .menubar .hamburger {
    display: block;
  }
}
